<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    {%block title%}
      <title>Home</title>
    {%endblock title%}

    <style>
      .row.content {height: 1000px}
      .sidenav {
        background-color: #f1f1f1;
        height: 100%;
      }
      @media screen and (max-width: 767px) {
      .row.content {height: 700;}
      }
      .card-footer{
      text-align: center;
}
    </style>
</head>


<body>

  <div class="card-body">
    <div class="card-title">
      <h1 class="text-left"><b>Examination Automation Platform</b></h1>
    </div>
  </div>
  
  <div class="card text-center">


    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link right" href="{% url 'add_department' %}">Department</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'add_teacher' %}">TeacherProfile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'add_subject' %}">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'add_examination' %}">ExaminationProposal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'create_exam' %}">ExamCommittee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'theory_exam_routine' %}">TheoryExam Routine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'theory_exam_tabulator' %}">TheoryExam Tabulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'lab_exam_routine' %}">LabExam Routine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'lab_exam_tabulator' %}">LabExam Tabulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'viva_voce_routine' %}">VivaRoutine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'viva_voce_tabulator' %}">VivaTabulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'genarate_bill_of_theexaminer' %}">ExaminersBills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link right" href="{% url 'done_duty_task' %}">DutyReport</a>
        </li>                 
      </ul>
    </div>

    <div class="card-body">

      {% block formtitle %}
        <h3 class="mt-2">HOME</h3>
      {% endblock formtitle %}

      <hr class="mt-0 mb-4">

      {% block content %}
      
      {% endblock %}

    </div>

    
    <div class="card-footer">
      <ul class="nav nav-pills card-footer-pills">
        <li class="nav-item">
          <a class="nav-link right" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link right" href="#">Exprot To PDF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Log Out</a>
        </li>
      </ul>  
      </div>
    </div>

  </div>

  

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


<footer>
 <div class="card-footer">
    <span class="badge">
      <a class="nav-link right" href="#">
          {% if user.is_authenticated %}
          <h6 class="text-center">Logged In User  ::  <strong>[[  {{user.username}}  ]]</strong></h6>
          {% endif %}
      </a>
    </span>
    <span class="badge">
      <a class="nav-link right" href="https://about.me/md.all.rabbi">Devloped By : MD. ALL RABBI</a>
    </span>
 </div>
</footer>

</html>